.main {
    margin-top:40px;
    font-family: "Courier New", Courier, monospace;
}

form.redeem {
    margin-top:20px;
}

.error {
    display:block;
    padding:10px;
    color:white;
    font-weight:bold;
    background-color: #00047f;
}

.flashes {
    padding:10px;
}
.question {
    border:1px dashed #ddd;
    padding:20px;
    margin-bottom:20px;
}
.question ul {
    list-style:none;
}
.answer-correct {
    color: #06ff34;
}
.bold {
    font-weight:bold;
}
